<!--
    - #FOOTER
  -->

<section class="section-3 feedback-section" aria-label="topics" id="topics">
    <div class="container">
        <div class="card footer">
            <div class="section footer-top">
                <div class="footer-list">
                    <p class="footer-list-title">Recent Post</p>
                    <ul>
                        <li>
                            <a href="#" class="footer-link hover-2">Action</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link hover-2">Business</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-list">
                    <p class="footer-list-title">Poplular Post</p>
                    <ul>
                        <li>
                            <a href="#" class="footer-link hover-2">Action</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link hover-2">Business</a>
                        </li>
                    </ul>

                </div>

                <div class="footer-list">
                    <p class="footer-list-title">Newsletter</p>

                    <p class="footer-text">
                        Sign up to be first to receive the latest stories inspiring us, case studies, and industry news.
                    </p>

                    <div class="input-wrapper">
                        <input type="text" name="name" placeholder="Your name" required class="input-field"
                            autocomplete="off">

                        <!-- <ion-icon name="person-outline" aria-hidden="true"></ion-icon> -->
                    </div>

                    <div class="input-wrapper">
                        <input type="email" name="email_address" placeholder="Emaill address" required
                            class="input-field" autocomplete="off">

                        <!-- <ion-icon name="mail-outline" aria-hidden="true"></ion-icon> -->
                    </div>

                    <a href="#" class="btn btn-primary" style="margin-bottom: 10px;">
                        <span class="span">Subscribe</span>
                    </a>

                </div>
            </div>

            <div class="footer-bottom">

                <p class="copyright">
                    &copy; Developed by <a href="#" class="copyright-link">Rajib.</a>
                </p>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <!-- <ion-icon name="logo-twitter"></ion-icon> -->

                            <span class="span">Twitter</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/saidul-is-rajib/" class="social-link">
                            <!-- <ion-icon name="logo-linkedin"></ion-icon> -->

                            <span class="span">LinkedIn</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <!-- <ion-icon name="logo-instagram"></ion-icon> -->

                            <span class="span">Instagram</span>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </div>
  </section>
