<section class="section feature" aria-label="feature" id="featured">
  <div class="container">
    <h2 class="headline headline-2 section-title">
      <span class="span">Recent Post's</span>
    </h2>
    <hr />

    <ul class="feature-list">
      <li *ngFor="let post of posts">
        <div class="card feature-card">
          <figure
            class="card-banner img-holder"
            style="--width: 1602; --height: 903"
          >
            <img
              src="./assets/images/featured-1.png"
              width="1602"
              height="903"
              loading="lazy"
              alt="Self-observation is the first step of inner unfolding"
              class="img-cover"
            />
          </figure>

          <div class="card-content">
            <div class="card-wrapper">
              <div class="card-tag">
                <a class="span hover-2">#Travel</a>
              </div>

              <div class="wrapper">
                <span class="span">{{ post.readingMinute }} mins read</span>
              </div>
            </div>

            <h3 class="headline headline-3">
              <a
                href="javascript:void(0)"
                (click)="openPostTab(post.postId)"
                class="card-title hover-2"
              >
                {{ post.postTitle }}
              </a>
            </h3>

            <div class="card-wrapper">
              <div class="profile-card">
                <img
                  src="./assets/images/author-1.jpeg"
                  width="48"
                  height="48"
                  loading="lazy"
                  alt="Rajib"
                  class="profile-banner"
                />

                <div>
                  <p class="card-title">{{ getUserName(post.userId) }}</p>

                  <p class="card-subtitle">
                    {{ post.updatedDateTime | date : "MMMM dd, yyyy" }}
                  </p>
                </div>
              </div>

              <a
                href="javascript:void(0)"
                (click)="openPostTab(post.postId)"
                class="card-btn"
                >Read more</a
              >
            </div>
          </div>
        </div>
      </li>
    </ul>

    <a class="btn btn-secondary">
      <span class="span">Show More Posts</span>
    </a>
  </div>

  <img
    src="./assets/images/shadow-3.svg"
    width="500"
    height="1500"
    loading="lazy"
    alt=""
    class="feature-bg"
  />
</section>
