<!--
- # POST DETAIL COMPONENT
-->
<section class="section" id="recent" aria-labelledby="recent-label">
  <div class="container">
    <div class="post-main">
      <ul class="grid-list" *ngIf="post">
        <div class="common-title">
          <h1 class="headline card-title">
            {{ post.postTitle }}
          </h1>
          <p class="post-date">
            {{ post.createdDateTime | date : "MMMM d, yyyy" }}
          </p>
          <hr class="row-color" />
        </div>

        <li *ngFor="let section of post.sections">
          <div class="left-side">
            <h2 class="headline custom-header">{{ section.sectionTitle }}</h2>
            <p>{{ section.sectionDescription }}</p>
          </div>

          <div class="post-detail-card">
            <figure
              class="card-banner img-holder mb-2"
              style="--width: 250; --height: 200"
            >
              <img
                [src]="getImage(null)"
                width="250"
                height="200"
                loading="lazy"
                alt="Helpful Tips for Working from Home as a Freelancer"
                class="img-cover"
              />
            </figure>

            <div
              class="card-content custom-title"
              *ngFor="let item of section.items"
            >
              <h4 class="headline custom-header">{{ item.itemTitle }}</h4>
              <p class="card-text">
                {{ item.itemDescription }}
              </p>
              <figure
                class="card-banner img-holder mb-2"
                style="--width: 250; --height: 200"
              >
                <img
                  [src]="getImage(item.itemImage)"
                  width="250"
                  height="150"
                  loading="lazy"
                  alt="Helpful Tips for Working from Home as a Freelancer"
                  class="img-cover"
                />
              </figure>
            </div>
          </div>
          <div *ngIf="post.conclusion">
            <h4 class="headline custom-header">Conclusion</h4>
            <p>
              {{ post.conclusion }}
            </p>
          </div>
        </li>
      </ul>

      <app-comment-section [postId]="postId"></app-comment-section>
      <app-feedback [postId]="postId"></app-feedback>
    </div>
  </div>
</section>
