hr.row-color {
  border-top: 1px solid white;
}

.post-date {
  font-size: 13px;
}

.introduction {
  margin-top: -20px;
}

.custom-title {
  margin-top: 10px;
}

.like-comment {
  /* Your existing styles for the .like-comment container */
  /* ... */
}

.comment-section {
  display: flex;
}

.input-field {
  flex: 1;
  width: 100%;
}
