<div class="comment-section" style="width: 100%">
  <h3 class="headline headline-4">
    <h4 class="span headline custom-header">Comments</h4>
  </h3>

  <ul class="comment-list">
    <blockquote>“We appreciate your feedback...“</blockquote>
    <li *ngIf="comment_list && comment_list.length > 0">
      <div class="comment-card" *ngFor="let comment of comment_list">
        <div class="experience-card">
          <figure
            class="card-banner img-holder"
            style="--width: 64; --height: 64"
          >
            <img
              [src]="getImage(comment.image)"
              width="64"
              height="64"
              loading="lazy"
              alt="{{ comment.postTitle }}"
            />
          </figure>

          <div>
            <p class="card-title">{{ comment.name }}</p>
            <time class="card-date" datetime="2022-04-15">{{
              comment.date | date : "MMMM d, yyyy"
            }}</time>
            <p>{{ comment.comments }}</p>
          </div>
        </div>
      </div>
    </li>
    <hr />
  </ul>
</div>
