<div class="like-comment">
  <div class="another-div" style="width: 200%; margin-bottom: 20px">
    <form [formGroup]="inputControl" (ngSubmit)="onSubmit()">
      <div>
        <div class="input-wrapper">
          <input
            type="text"
            formControlName="commentorName"
            placeholder="Your Name"
            class="input-field full-width"
            autocomplete="off"
          />
        </div>
        <hr class="row-color" />

        <div class="input-wrapper">
          <input
            type="text"
            formControlName="comment"
            placeholder="Comments"
            class="input-field full-width"
            autocomplete="off"
          />
        </div>
        <hr class="row-color" />

        <button type="submit" class="btn btn-primary">
          <span class="span">Comment</span>
        </button>
      </div>
    </form>
  </div>
</div>
