<!--
- #PROJECT SECTION
-->
<section class="section project" id="recent" aria-labelledby="recent-label">
  <div class="container">
    <div class="">
      <ul class="grid-list" *ngFor="let project of projectList">
        <li>
          <div class="recent-post-card">
            <figure
              class="card-banner img-holder"
              style="--width: 250; --height: 200"
            >
              <img
                src="../../../assets/images/Rajib-profile.jpg"
                width="250"
                height="200"
                loading="lazy"
                alt="Helpful Tips for Working from Home as a Freelancer"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <h3 class="headline headline-4 card-title">
                <a href="#" class="link hover-2">{{ project.projectTitle }}</a>
              </h3>
              <p class="post-date">{{ project.displayDate | date: "MMMM dd, yyyy" }}</p>

              <p class="card-text">
                {{ project.projectSummary }}
              </p>

              <div class="wrapper">
                <a href="home" class="card-badge">Source Link</a>
              </div>

              <div class="card-wrapper">
                <div
                  class="card-tag"
                  *ngFor="let projectSection of project.projectSection"
                >
                  <a
                    *ngFor="let tag of projectSection.projectTags"
                    class="span hover-2"
                    ># {{ tag.projectTagName }}</a
                  >
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!--
  - # Feedback section
-->
<section class="section-3" aria-label="topics" id="topics">
  <div class="container">
    <div class="card feedback">
      <div class="feedback-top">
        <form (ngSubmit)="onSubmit(feedbackForm)" #feedbackForm="ngForm">
          <div class="feedback-list">
            <p class="feedback-list-title">Feedback</p>
            <small class="feedback-text">
              Your valuable suggestions and feedback would greatly enhance my
              creativity. I would appreciate any guidance you can offer related
              to this application or posts.
            </small>

            <div class="input-wrapper">
              <input
                type="email"
                name="email"
                ngModel
                placeholder="test@example.com"
                required
                class="input-field"
                autocomplete="off"
              />
            </div>

            <div class="input-wrapper">
              <input
                type="text"
                name="comment"
                ngModel
                placeholder="Comments"
                required
                class="input-field"
                autocomplete="off"
              />
            </div>

            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="feedbackForm.invalid"
            >
              <span class="span">Send</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
