<!--
  - #TOPICS
-->
<section  class="section feature" aria-label="topics" id="topics">
  <div class="container">
    <h2 class="headline custom-heading section-title">
      <span class="span">Subjects Covered</span>
    </h2><hr>

    <div class="card topic-card">
      <div class="card-content">
        <h2 class="headline headline-3 section-title card-title" id="topic-label">
          Hot topics
        </h2>

        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime nostrum voluptatibus, odio pariatur animi excepturi eveniet facilis impedit velit perferendis!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit deleniti, rem nobis itaque corporis possimus. Hic veniam architecto dolore ducimus?
        </p>

        <div class="btn-group">
          <button class="btn-icon" aria-label="previous" data-slider-prev>
            <i class="fa-solid fa-arrow-left"></i>
          </button>

          <button class="btn-icon" aria-label="next" data-slider-next>
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>

      <div class="slider" data-slider>
        <ul class="slider-list" data-slider-container>

          <li class="slider-item" *ngFor="let topic of topicList" >
            <a href="#" class="slider-card">
              <figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
                <img src="./assets/images/topic-1.png" width="507" height="618" loading="lazy" alt="Sport"
                  class="img-cover">
              </figure>

              <div class="slider-content">
                <span class="slider-title">{{ topic.topicName }}</span>

                <p class="slider-subtitle">{{ topic.tagInformation.length }}</p>
              </div>

            </a>
          </li>

        </ul>
      </div>

    </div>

  </div>
</section>

<section  class="section-2 feature" aria-label="topics" id="topics">
  <div class="container">
    <h1 class="headline section-title custom-heading">
      <span class="span">Topic with Tags</span>
    </h1><hr>
    <div class="card topic-card">
      <ul *ngFor="let data of topicList">
        <li >
          <div class="custom-card-content">
            <div class="left-side">
              <a href="">{{ data.topicName }}</a>
            </div>
            <div class="right-side" style="padding-top: 10px;">
              <p>{{ data.tagInformation.length }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</section>
