ul {
    padding: 0;
    margin: 0;
}
  
li {
    margin-bottom: -10px; /* Adjust the desired gap */
}

.custom-card-content {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.left-side {
    flex: 1;    
}

.right-side {
    flex: 1;
}

.custom-heading{
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: -10px;
}