<!--
# DASHBOARD
-->
<section class="section recent-post" id="recent" aria-labelledby="recent-label">
  <div class="container">
    <div class="post-main" *ngIf="paginatedData?.data?.length" >
      <ul class="grid-list">
        <li *ngFor="let post of paginatedData?.data">
          <div class="recent-post-card">
            <figure
              class="card-banner img-holder"
              style="--width: 250; --height: 200"
            >
              <img
                [src]="getImage(post.postImage)"
                width="250"
                height="200"
                loading="lazy"
                alt="Helpful Tips for Working from Home as a Freelancer"
                class="img-cover"
              />
            </figure>

            <div class="card-content">
              <h3 class="headline headline-4 card-title">
                <a href="javascript:void(0)" (click)="openPostTab(post.postId)" class="link hover-2">{{ post.postTitle }}</a>
              </h3>
              <p class="post-date">
                {{ post.createdDateTime | date : "MMMM d, yyyy" }}
              </p>

              <p class="card-text">{{ post.postAbstract }}</p>

              <div class="wrapper">
                <a
                  class="connectionLink"
                  (click)="openPostTab(post.postId)"
                  class="card-badge"
                  >Read More</a
                >
              </div>

              <div class="card-wrapper">
                <div class="card-tag">
                  <a
                    *ngFor="let topic of post.topicIds"
                    class="span hover-2"
                    ># {{ topic.topicTitle }}</a
                  >
                </div>

                <div class="wrapper">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-clock"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                    />
                    <path
                      d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                    />
                  </svg>
                  <span class="span">{{ post.readingMinute }} mins read</span>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <nav aria-label="pagination" class="pagination">
        <a
          *ngIf="paginatedData.pageIndex > 1"
          href="javascript:void(0)"
          class="pagination-btn"
          aria-label="previous page"
          (click)="goToPage(paginatedData.pageIndex - 1)"
        >
          <i class="fa-solid fa-arrow-left"></i>
        </a>

        <ng-container *ngFor="let page of getPaginationPages()">
          <a
            *ngIf="page !== -1"
            href="javascript:void(0)"
            class="pagination-btn"
            (click)="goToPage(page)"
            [class.active]="paginatedData.pageIndex === page"
          >
            {{ page }}
          </a>
          <span *ngIf="page === -1" class="pagination-ellipsis">...</span>
        </ng-container>
        <a
          *ngIf="paginatedData.pageIndex * paginatedData.pageSize < paginatedData.count"
          href="javascript:void(0)"
          class="pagination-btn"
          aria-label="next page"
          (click)="goToPage(paginatedData.pageIndex + 1)"
        >
          <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </a>
      </nav>
    </div>

    <div class="post-aside grid-list" *ngIf="paginatedData?.data?.length" >
      <div class="card aside-card">
        <h3 class="headline headline-2 aside-title">
          <span class="span">Popular Posts</span>
        </h3>

        <ul class="popular-list">
          <li *ngFor="let post of paginatedData?.data">
            <div class="popular-card">
              <figure
                class="card-banner img-holder"
                style="--width: 64; --height: 64"
              >
                <img
                  src="./assets/images/popular-post-1.jpg"
                  width="64"
                  height="64"
                  loading="lazy"
                  alt="Creating is a privilege but it’s also a gift"
                  class="img-cover"
                />
              </figure>

              <div class="card-content">
                <h4 class="headline headline-4 card-title">
                  <a href="javascript:void(0)" (click)="openPostTab(post.postId)" class="link hover-2">{{ post.postTitle }}</a>
                </h4>

                <div class="warpper">
                  <p class="card-subtitle">{{post.readingMinute}} mins read</p>

                  <time class="publish-date" datetime="2022-04-15">{{
                    post.createdDateTime | date : "MMM dd, yy"
                  }}</time>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
